<div >
        <div class="container-fluid" style="text-align: center;">
           <div>
              <img  class="images" src="../../assets/images.jpeg"/>
           </div>
           <div class="loginDiv">
              <div style="display: inline-block; margin-top: 5%">
                 <div stryle="text-align: center;">Login</div>
                 <form [formGroup]="myForm" (ngSubmit)="doLoginFormSubmit()">
                 <!-- EMAIL ADDRESS FIELD -->
                 <div class="form-group topMargin">
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter email" />
                    <div *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched" class="text-danger">
                       <small *ngIf="myForm.controls.email.errors.required">Email address is required.</small>
                       <small *ngIf="myForm.controls.email.errors.email">Email must be a valid email address.</small>
                    </div>
                 </div>
                 <!-- PASSWORD FIELD -->
                 <div class="form-group topMargin">
                    <input type="password" formControlName="pwd" class="form-control" placeholder="Enter password" />
                    <div *ngIf="myForm.controls.pwd.invalid && myForm.controls.pwd.touched" class="text-danger">
                       <small *ngIf="myForm.controls.pwd.errors.required">Password is required.</small>
                       <small *ngIf="myForm.controls.pwd.errors.minlength">Password must be at least 6 characters.</small>
                    </div>
                 </div>
                 <!-- LOGIN BUTTON -->
                 <div class="form-group topMargin">
                    <input type="submit" value="Login" [disabled]="myForm.invalid" class="btn btn-primary" />
                 </div>
                 </form>
              </div>
           </div>
        </div>
     </div>